@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

@keyframes gradient {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 60% 60%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -1px 1px 0 red, 2px -3px 0 blue;
    transform: translate(8px);
  }
  2% {
    text-shadow: 1px -1px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}

.banner {

}

.splitter {
  width: 100vw;
  height: 10vh;
  backdrop-filter: brightness(80%) blur(20vw);
  border-top: white 0.1vh solid;
  border-bottom: white 0.1vh solid;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  padding-right: 6rem;
  padding-left: 2rem;
  margin-left: var(--profile-width);
  width: 100%;
  height: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.navbar_item {
  margin-right: 5%;
  cursor: pointer;
  height: 100%;
}

.navbar_item:last-child {
  margin-right: 0;
}

.profile_info {
  width: var(--profile-width);
  padding-left: 6rem;
  position: absolute;
  margin-top: -5vh;
}

.logo {
  border-radius: 100%;
  border: white 0.3vh solid;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.profile_info p {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.profile_info p:nth-child(2) {
  font-weight: bold;
}

.profile_info p:nth-child(3) {
  color: #949494;
  margin-top: -0.25rem;
}

.profile_info p:nth-child(4) {
  font-size: 1.125rem;
  font-weight: lighter;
  font-family: "PT Sans Narrow", serif;
}

.profile_info p:nth-child(5) {
  font-size: 1.125rem;
  font-weight: lighter;
  font-family: "PT Sans Narrow", serif;
}


.main {
  background-color: hsla(277, 100%, 80%, 0.25);
  background-image:
          radial-gradient(at 66% 96%, hsla(5,60%,78%,0.25) 0px, transparent 50%),
          radial-gradient(at 65% 8%, hsla(246,79%,60%,0.25) 0px, transparent 50%),
          radial-gradient(at 1% 24%, hsla(211,75%,65%,0.25) 0px, transparent 50%),
          radial-gradient(at 74% 91%, hsla(324,93%,73%,0.25) 0px, transparent 50%),
          radial-gradient(at 97% 89%, hsla(297,88%,68%,0.25) 0px, transparent 50%),
          radial-gradient(at 15% 26%, hsla(260,73%,69%,0.25) 0px, transparent 50%),
          radial-gradient(at 7% 15%, hsla(204,64%,60%,0.25) 0px, transparent 50%);
  background-size: 400% 400%;
  background-position: center;
  animation: gradient 15s ease infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -5s);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
  margin-bottom: 25vh;
}

.certificates {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.personal_details {
  display: grid;
  grid-template-rows: repeat(4, minmax(50%, auto));
  grid-template-columns: repeat(2, minmax(1%, auto));
  width: 100%;
  max-width: 100%;
}

.skills {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.skill {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.skill span {
  display: inline-block;
  transition: transform 200ms;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.title {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  max-width: 100%;
  min-height: 80vh;
  margin-bottom: 10vh;
  margin-top: 120vh;
  width: fit-content;
}

.name {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-family: "VT323", monospace;
  font-size: 10rem;
  text-transform: uppercase;
  color: white;
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards 120ms, glitch 2s ease infinite 2s alternate-reverse;
}

.small_name {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-family: "VT323", monospace;
  text-transform: uppercase;
  color: white;
}

.title p {
  margin-bottom: -2rem;
  text-align: left;
  width: 100%;
}

.title div {
  margin-top: -2rem;
  text-align: right;
  width: 100%;
}

.project_overview_section {
  min-height: 100vh;
  margin-bottom: 25vh;
  max-width: 100%;
  padding: 1.5rem;
}

.project_overview_section h3{
  margin-bottom: 0.2rem;
  font-style: italic;
}

.project_overview_section a{
  font-style: italic;
  font-weight: 700;
}

.project_link {
  margin-top: 2rem;
}

.project_link a {
  color: white;
  padding: 1rem 1.5rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
}

.project_image {
  border-radius: 20%;
}

.horizontal_project_images {
  margin-top: 2rem;
  display: inline-block;
}

.horizontal_project_images img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.vertical_project_images {
  margin-top: 2rem;
}

.vertical_project_images img {
  border-radius: 10px;
  margin: 0.15rem;
}

.overview_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 25vh;
  max-width: 100%;
}

.overview_section h2 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: left;
}

.overview {
  width: var(--max-width);
  max-width: 100%;
  text-align: left;
}

.overview p {
  margin-bottom: 1rem;
}

.featured_projects {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
}

.featured_projects {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
}

.featured_project:nth-child(odd) {
  margin-left: 25%;
  justify-content: right;
  text-align: right;
}

.featured_project {
  transition: transform 200ms;
  border-radius: calc(var(--max-width) * 0.05);
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  width: 75%;
  max-width: 100%;
  margin-bottom: 2rem;
}

.featured_project_description {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
}

.featured_project_image {
  border-radius: 20%;
  min-height: 4rem;
  height: 100%;
  width: 20vw;
  aspect-ratio: 1/1;
}

.featured {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.featured_no_margin {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.project {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
 }

.project span {
  display: inline-block;
  transition: transform 200ms;
}

.project h3 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.project h5 {
  margin-bottom: 0.7rem;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  color: white;
}

.project p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.logo {
  position: relative;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }

  .project:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .project:hover span {
    transform: translateX(4px);
  }

  .skill:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .skill:hover span {
    transform: translateX(4px);
  }

  .featured_project:hover {
    transform: scale(1.02);
    transform-origin: center;
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
  .project:hover span {
    transform: none;
  }
  .skill:hover span {
    transform: none;
  }
  .featured_project:hover {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 2rem;
  }

  .featured:first-child {
    margin-top: 10vh;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .skills {
    grid-template-columns: 1fr;
    max-width: 320px;
    text-align: center;
  }

  .certificates {
    grid-template-columns: 1fr;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .title {
    padding: 8rem 0 6rem;
    margin-top: 5vh;
    font-size: 1.6rem
  }

  .name {
    font-size: 8rem;
  }

  .title::before {
    transform: none;
    height: fit-content;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 0.5rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description div {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .titleText {
    width: 100%;
  }

  .project_image {
    margin-top: 10vh;
  }

  .extra_description {
    display: none;
  }

  .odd_featured_project {
    margin-left: 0;
  }

  .even_featured_project {
    width: 100%;
  }

  .featured_project {
    width: 100%;
    border-radius: 4vw;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .skills {
    grid-template-columns: repeat(2, 50%);
  }

  .certificates {
    grid-template-columns: repeat(2, 50%);
  }

  .titleText {
    width: 75%;
  }

  .extra_description {
    display: none;
  }

  .odd_featured_project {
    margin-left: 0;
  }

  .even_featured_project {
    width: 100%;
  }

  .featured_project {
    width: 100%;
    border-radius: 4vw;
  }
}
