.timeline_heading {
    font-weight: bold;
    font-size: 5vh;
    margin-top: 10vh;
    margin-bottom: 2vh;
}

.timeline {
    position: relative;
    height: 180vh;
    width: 1rem;
    margin: auto;
}

.timeline_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #464646, #bdbdbd, #464646);
    width: 100%;
    height: 100%;
    border-radius: 5rem;
}

.branches {
    position: relative;
    width: 100%;
    height: 100%;
}

.branch_left {
    background: linear-gradient(to bottom, #464646, #bdbdbd, #464646);
    width: 100%;
    height: 15%;
    border-radius: 5rem;
    rotate: 45deg;
    position: absolute;
    top:80%
}

.branch_right {
    background: linear-gradient(to bottom, #464646, #bdbdbd, #464646);
    width: 100%;
    height: 15%;
    border-radius: 5rem;
    rotate: 45deg;
    position: absolute;
    left: 10vw;
}

.months {
    position: absolute;
    width: 100%;
    height: 100%;
}

.month {
    display: flex;
    transform: translateX(-8vw);
}

.month_branch_left {
    margin-top: 7vw;
    margin-bottom: 7vw;
    margin-right: 8vw;
    background: #0089ff;
    width: 5rem;
    height: 0;
    overflow: hidden;
}

.month_branch_right {
    margin-top: 7vw;
    margin-bottom: 7vw;
    margin-left: 8vw;
    background: #0089ff;
    width: 5rem;
    height: 0;
    overflow: hidden;
}

.month_text_branch_left {
    margin-right: 8vw;
    background: #0089ff;
    width: 5rem;
    height: 0;
    overflow: hidden;
}

.month_text_branch_right {
    background: #0089ff;
    width: 5rem;
    height: 0;
    overflow: hidden;
}

.month_parent {
    display: flex;
    align-items: center;
}

.months div {
}

.timeline_item_point {
    position: absolute;
    width: 2rem;
    background: #ffffff;
    border-radius: 100%;
    aspect-ratio: 1/1;
    left: -.5rem;
    border: 3px solid #000000;
}

.timeline_right_item_content {
    position: absolute;
    left: 2rem;
    width: 45vw;
    bottom: 0;
    transform: translateY(75%);
}

.timeline_left_item_content {
    position: absolute;
    text-align: right;
    right: 2rem;
    width: 30vw;
    bottom: 0;
    transform: translateY(70%);
}

.timeline_item {
    position: absolute;
}

.timeline_item_duration {
    color: #999999;
}

.timeline_item_paragraph {
    color: #999999;
}